
    <% if task.deadline < DateTime.now %>
      <% date_check = "bg-danger" %>
    <% elsif task.deadline.between?(Date.current, Date.current + 3) %>
      <% date_check = "bg-warning" %>
    <% end %>

    <div class="card m-2 <%= date_check %> " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= task.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= task.status %></h6>
        <p class="card-text">
          <%= task.body %>
        </p>
        <p class="card-text">
          <%= "Author: #{task.author}" %>
        </p>
        <hr>
        <p class="card-text">
          <%= task.deadline.strftime("%d.%m.%Y %H:%M") %>
        </p>
      </div>
    </div>