<h1>Task#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<% if @task.errors.full_messages.any? %>
  <ul>
  <% @task.errors.full_messages.each do |error_message| %>
    <li>
    <%= error_message%> 
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: [@group, @group.tasks.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @group.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
    <% @group.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :deadline %><br>
    <%= form.datetime_select :deadline, ampm: false, minute_step: 10 %>
    <% @group.errors.full_messages_for(:deadline).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div hidden>
    <%= form.label :status %><br>
    <%= form.text_area :status, value: 'Active' %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>