
	<div class="group-card" 
	     id=<%= procedure.group.id%>-<%=procedure.id%> 
	     data-action="click->groups#getProcedure"
	     data-groups-target="procedure"> 
	  <h4 class="group-title">
	  	<strong id=<%= procedure.group.id%>-<%=procedure.id%>>
	    	<%= procedure.title%>
	  	</strong>
	  </h4>
	  <p>
	  	<%= "#{procedure.stages.count} stages, #{procedure.projects.count} projects" %>
	  </p> 
	  <div>
	    <%= link_to 'Edit', 
	    		edit_group_procedure_path(procedure.group.id,procedure.id), 
	    		data: { turbo_method: "get" }, 
	    		class: 'btn btn-sm btn-primary'%>
	    <%= link_to 'Destroy', 
	    		group_procedure_path(procedure.group.id,procedure.id), 
	    		data: { turbo_method: "delete",
	    				action: "click->groups#destroyProcedure" }, 
	    		class: 'btn btn-sm btn-danger',
    			id: index %>

	    <div class="btn btn-sm btn-danger"
	    	 id = "<%= index %>"
	    	 data-action="click->groups#destroyProcedure">
	    	Destroy (2)
	    </div>
	  </div>
	</div> 
